body{
   background-image: url(Captura\ de\ tela\ 2025-06-10\ 092207.png);
    background-size: cover;            
    background-repeat: no-repeat;      
    background-position: center;       
    height: 100vh;
    margin: 0;                          
    display: flex;
    justify-content: center;
    align-items: center; 
            
}

.pergunta{
    
    padding: 20px;
    text-align: center;
    background-color: rgba(30, 30, 30, 0.95);
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.2); 
    color: rgb(255, 255, 255);
    width: 40%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
      
}   

.questao {
    margin: 0px;
    padding: 0px;
    width: 70%;
    border: none;
}


.questao form fieldset{
    
    background-color:rgba(30, 30, 30, 0.2) ;
    width: 100%;
    height: 60%;
    font-size: 25px;
    border: none;
    



}
#botaoProximo{
    color: white;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    background-color:  rgba(30, 30, 30, 0.95);
    border: 3px solid rgba(0, 255, 255, 0.2);
    box-shadow: 0 0 7px rgba(0, 255, 255, 0.2);
    margin-top: 32px;
    

}

.resposta{
    background-color:  rgba(30, 30, 30, 0.95);
    border: 3px solid rgba(0, 255, 255, 0.2);
    box-shadow: 0 0 7px rgba(0, 255, 255, 0.2);
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin: 16px 0px;
    border-radius: 10px;
    width: 88%;
    margin-top: 30px;
    


}

.resposta label {
    width: 100%;
    cursor: pointer;
}

input[type=radio]{
    display: none;
}

/* .questao button {
    /* background-color: #121212; 
    color: #ffffff;
    border: 2px solid #00ffff;
    border-radius: 12px;
    box-shadow: 0 0 10px #00ffff44;
    transition: 0.3s;                  

    width: 80%;
    height: 10%;
    margin-top: 6px;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px  rgba(0, 255, 255, 0.2); 
} */   




